/*
  # Device with different resolution
*/
@media only screen and (max-width: 1100px) {
    /* TODO */
}
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #1e2130;
        color: #f3f5f4;
        font-family: "Open Sans", sans-serif;
    }

    .padding-zero {
        padding: 0;
    }

    .half-space{
        height: 50% !important;
    }

    .input_div{
        width :15% !important; 
        float :left; 
        margin-left: 2%;
    }

    #big-app-conteiner {
        width: 1024px;
        height: 600px;
        text-align : center;
    }

    #setting-panel {
        width: 70%;
        height: 100%;
        display: inline-block;
    }

    #output-panel {
        width: 30%;
        height: 100%;
        border: 2px solid darkred;
        display: inline-block;
    }

    #header {
    }

    .row {
        height: 10%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 25%;
        height: 100%;
    }


    #baner-logo, #baner-btn {

    }

    #logo {
        width: 100%;
        height: 100%;
    }

    #baner-text{
        width: 50%;
        height: 100%;
        padding: auto;
        color: #f22d06;
    }

    #baner-text h2 {
        margin: auto;
        padding: 2%;
    }

    .button {
        width: 100%;
        height: 100%;
    }

    #start-btn {
        color: rgb(17, 17, 17);
        font-size: 1.8rem;
        font-weight: normal;
        background-color: #08f614;
    }

    #start-btn:hover {
        color: #111010;
        background-color: #065b0a9d;
    }

    #header-modes {
        margin-top: 1%;
        font-weight: bold;
        font-size: 1.5rem;
    }

    #header-modes h2 {
        height: 100%;
        margin: auto;
        color: #f22d06;
        padding: 2%;
    }

    .mode-btn > button {
        padding: 0%;
        max-width: 90%;
        max-height: 90%;
        font-weight: bold;
        font-size: 1.5rem;
    }

    #setting_panel {
        height: 15%;
        font-size: 1.5rem;
        color: #f22d06;
        margin-top: 2%;
        font-weight: bold;
    }

    #setting_panel button {
        font-size: 2rem;
        padding: 0;
    }

    .numeric_input {
        height: 100%;
        width: 100%;
        color: #f22d06;
        background-color: #1e2130;
        font-size: 2rem;
        border: solid 2px darkgrey;
    }
    
    
