/*
  # Device with different resolution
*/
@media only screen and (max-width: 1100px) {
    /* TODO */
}
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #1e2130;
        color: #f3f5f4;
        font-family: "Open Sans", sans-serif;
    }

    .padding-zero {
        padding: 0;
    }

    .half-space{
        height: 50% !important;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .space-2px {
        margin-right: 2% ;
    }

    .input_div{
        width :15% !important;
        height: 80% !important;
        float :left; 
        margin: 1%;
    }

    #big-app-container {
        width: 1024px;
        height: 600px;
        text-align : center;
    }

    #big-app-container ::after{
        content: '';
        display: block;
        clear: both;
    }

    #input-panel {
        width: 70%;
        height: 100%;
        float:left;
    }

    .column-set {
        width: 30%;
        height: 100%;
        margin-left: 2%;
    }

    .lab_btns *{
        margin: 0;
    }

    #output-panel, #graph-cfg-panel {
        width: 30%;
        height: 100%;
        border: 2px solid darkred;
        float:left;
    }

    #header {
    }

    .row {
        height: 10%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 25%;
        height: 100%;
    }


    #baner-logo, #baner-btn {

    }

    #logo {
        width: 100%;
        height: 100%;
    }

    #baner-text{
        width: 50%;
        height: 100%;
        padding: auto;
    }

    #baner-text h2 {
        margin: auto;
        padding: 2%;
    }

    .button {
        width: 85%;
        height: 85%;
    }

    .button-container{
        width: 50vh;
        height: 15vh;
        padding: 5%;
        margin-top: 5%;
        margin-left: 15%;
    }

    .form-button {
        height: 100%;
        font-weight: bold;
        font-size: large;
    }

    #header-modes {
        margin-top: 1%;
        font-weight: bold;
        font-size: 1.5rem;
    }

    #header-modes h2 {
        height: 100%;
        margin: auto;
        padding: 2%;
    }

    .mode-btn > button {
        padding: 0%;
        width: 90%;
        height: 90%;
        font-weight: bold;
        font-size: 1.5rem;
    }

    #setting-panel {
        height: 15%;
        font-size: 1.5rem;
        margin-top: 2%;
        font-weight: bold;
    }

    #setting-panel button {
        font-size: 2rem;
        padding: 0;
    }

    .numeric_input {
        height: 100%;
        width: 100%;
        color: azure;
        background-color: #1e2130;
        font-size: 2rem;
        border: solid 2px darkgrey;
    }

    #chart-panel{
        height: 60%;
        padding: 0%;
        margin: 0%;
    }

    #chart-container {
        width: 79%;
        height: 100%;
        float: left;
    }

    #control-chart-live{
        height: 65vh;
    }

    #stop-btn-container {
        width: 21%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #stop-btn-container > button {
        margin-left: 5%;
        height: 20%;
        color: rgb(17, 17, 17);
        font-size: 1.8rem;
        font-weight: normal;
    }

    #start-btn {
        margin-top: 5%;
    }

    #start-btn:hover {
        background-color: #08f614;
    }

    #stop-btn {
        margin-top: 15%;
    }

    #stop-btn:hover {
        background-color: #f10202;
    }

    #indicators_container{
        height: 30%;
        width: 100%;
        padding: 5%;
    }

    #temperature_panel {
        height: 51%;
    }

    #thermometer-card {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #thermometer-indicator {
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .output_indicator {
        width: 100%;
    }
    
    .dialog_container {
        background-color:rgba(26, 27, 54, 0.95);
        position: fixed;
        z-index: 2;
        width: 70vh;
        margin-left: 30%;
        margin-top: 5%;
        border: solid 2px #f3f5f4;
        font-size: 1.5rem;
    }

    .header-form{
        margin-top: 5% !important;
        margin-bottom: 5% !important;
        font-size: 2rem !important;
    }

    .header-first-col {
        margin-left: 5%;
        width: 40%;
    }

    .header-sec-col {
        width: 35%;
        margin-right: 10%;
        float: right;
    }

    .first_diag_col{
        margin-left: 5%;
        width: 40%;
        padding: 1%;
    }

    .sec_diag_col{
        width: 35%;
        margin-right: 10%;
        float: right;
    }

    .setting-input {
        width: 100%;
        min-height: 2.5rem ;
        margin: 3%;
        font-size: 2rem;
    }
